.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map{
  height: 100vh;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}




/***** css for SideBar icon, SideBars ****/
header .title {
  display: inline;
}
header .menuicon {
  width: 20px;
  height: 30px;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
header .menuicon div {
  width: 30px;
  height: 4px ;
  background-color: white;
  margin: 5px 0; 
}

header .SideBar {
  height: calc(100% - 60px);
  width: 200px;
  display: inline-block;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: orange;
  overflow-x: hidden; 
}
header .SideBar .form {
  margin-top: 5px;
  width: 100%;
  height: auto; 
}
header .SideBar .form .input {
  padding: 10px 12px;
  width: 100%;
  border: 0px;
  outline: none; 
  position: left ;
  }
header .SideBar ul {
  list-style: none; 
  }
header .SideBar ul li {
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px; 
}
header .SideBar ul li a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem; 
}
      